* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$container-width: 1400px;
$container-background-color: #fff;
$border-radius-global: 12px;
body {
  font-family: "Poppins", sans-serif;
  background-color:$container-background-color;
  padding: 3rem;

  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: #fff;
  }
}

.container-global {
  max-width: $container-width;
  margin: 0 auto;
  background-color: $container-background-color;
  border-radius: $border-radius-global;
  padding: 1rem;

  @media (max-width: 768px) {
    margin: 0;
    width: 100%;
    background-color: #fff;
  }
}
